.page {
    background-image: url('https://img.freepik.com/free-vector/big-hotel-building-natural-landscape-volcano-bus-with-tourists-going_1284-62270.jpg?w=2000');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 99.2vh;
    padding-top: 5px;
  }    

  .border{
      margin-top: 5px;
      background-position: 45px;
      background-position: center;
    }

    .login-container{
        width: 313px;
        height: 100px;
        /* padding-top: 30px; */
        background-color: rgba(131, 126, 126, 0.5);
        color: white;
        margin: 0px 0px 100px 500px;
        border-radius: 2px;
    }

    .main{
        margin-top : 25px;
        width: 313px;
        height: 480px;
        border-top: 1px solid  #999999;
    background-color: white;
    background-color: rgba(131, 126, 126, 0.5);
    border-radius: 2px;
}

#log{
    text-align: center;
}

#signup{
    text-align: center;
}

#signup a{
    color: black;
}


#fb a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 250px;
    height: 35px;
    border-radius: 15px;
    background-color:#3b5998;
    margin-left: 30px;
    margin-top: 15px;
    color: white;
  }

#fb p {
    margin-left: 20px;
  }

#go a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 250px;
    height: 35px;
    border-radius: 15px;
    background-color:#eae9e9;
    margin-left: 30px;
    margin-top: 10px;
    color: black;
}

#go p {
    margin-left: 20px;
  }

    .line {
        display: flex;
        margin-top: 20px;
        flex-direction: row;
    }
  
    .line:before,
    .line:after {
        content: "";
        flex: 1 1;
        height: 0px;
        border: 1.5px solid #c5c3c3 ;
        margin: 10px 5px 0px 5px;
    }
    
    #email{
        width: 280px;
        height: 20px;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        margin: 10px 10px 0px 10px;
        border: none;
        border-bottom: 1px solid #838383;
        background-color: rgba(20, 17, 17, 0.5);
        outline: none;
    }
    #email::placeholder{
        color: #bdbdbd;
    }

    #password{
        width: 280px;
        height: 20px;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        margin: 10px 10px 0px 10px;
        border: none;
        border-bottom: 1px solid #bdbdbd;
        background-color: rgba(20, 17, 17, 0.5);
        outline: none;
    }
    #password::placeholder{
        color: #bdbdbd;
    }

    #login {
        padding: 10px 20px;
        width: 250px;
        margin-top: 20px;
        margin-left: 35px;
        margin-right: 35px;
        background-color: white;
        color: black;
        border: none;
        border-radius: 3px;
        font-size: 16px;
        cursor: pointer;
    }

    #forget{
        margin-left: 10px;
    }

    #forget a{
        margin-left: 0px;
        color: white;
    }

    .user-input {
        color: blue;
    }
    
    #mobileno::placeholder{
        color: #bdbdbd;
    }

    #mobileno{
        width: 280px;
        height: 20px;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        margin: 10px 10px 0px 10px;
        border: none;
        border-bottom: 1px solid #bdbdbd;
        background-color: rgba(20, 17, 17, 0.5);
        outline: none;
    }