.contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100;
    background-color: rgba(201, 226, 219, 0.9);
  }
  
  .contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .contact-card {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 35px;
    margin-top: 20px;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .contact-page p{
    font-size: 16px;
    color:rgb(0, 0, 0);
  }
  .contact-page h1{
    font-size: 24px;
  margin-bottom: 20px;
  color: #333333;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .contact-icon {
    color: #333333;
    margin-right: 10px;
  }
  .contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  padding: 10px 20px;
  background-color: rgb(28, 120, 28);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #555555;
}